
@{
    ViewBag.Title = "Xbox Tools";
}

<h2>Xbox Tools</h2>
<a class="btn btn-default btn-lg btn-block" href="@Url.Action("Games360", "Xbox")" role="button">Xbox 360</a>
<a class="btn btn-default btn-lg btn-block" href="@Url.Action("Games", "Xbox")" role="button">Xbox One</a>
<hr />
<a class="btn btn-default btn-lg btn-block" href="@Url.Action("DeadRising", "Xbox")" role="button">Dead Rising</a>

